body {
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  background-color: #ffffff;
}

.header {
  left: 0;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.header__content {
  padding: 1.85rem;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.logo__wrapper {
  width: 15rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100%;
  height: 100%;
}

.checkout__btn--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem 2.85rem;
  border-radius: 5rem;
  border: .15rem solid #b8b8b8;
  background-color: #fff;
  cursor: pointer;
}

.checkout__btn {
  font-size: 1.05rem;
  font-weight: 700;
  color: #000;
  letter-spacing: .01rem;
  text-decoration: none;
  text-transform: uppercase;
}

.main {
  left: 0;
  bottom: 0;
  z-index: 999;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sizes__content {
  margin: 1.85rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: relative;
}

.sizes__btn--wrapper {
  width: 10rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  justify-self: end;
  align-items: center;
  border-radius: 5rem;
  border: .15rem solid #b8b8b8;
  background-color: #fff;
  cursor: pointer;
  z-index: 1;
  position: absolute;
}

.sizes__btn {
  width: 100%;
  height: 100%;
}

.sizes__selection {
  padding: 1.5rem;
  border: .15rem solid #b8b8b8;
  border-radius: .5rem;
  background-color: #fff;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  z-index: 2;
  position: absolute;
}

.sizes__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sizes-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.size-btn {
  font-size: .85rem;
  padding: .5rem 1.25rem;
  cursor: pointer;
  border: .1rem solid #b8b8b8;
  border-radius: 4px;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.size-btn:hover {
  background-color: #00ff0059;
  color: rgb(0, 0, 0);
}

.size-btn.selected {
  background-color: #69ff47; /* Geselecteerde maat blijft blauw */
  color: rgb(0, 0, 0);
}

.configurator__controls {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background-color: white;
  box-shadow: 0 -.5rem 1rem rgba(0, 0, 0, .8);
  padding: 1.65rem;
  gap: 1.25rem;
}

.selected__part {
  display: grid;
  grid-template-areas: "prevArrow sneakerPart nextArrow";
  margin-bottom: .85rem;
}

.part__title {
  margin: 0;
  font-size: 1.35rem;
  text-align: center;
  width: 20rem;
  grid-area: sneakerPart;
  justify-self: center;
  text-transform: uppercase;
}

.part__number {
  color: #353535;
  font-weight: 400;
}

.part__arrow {
  cursor: pointer;
  align-self: center;
}

.part__arrow.prev {
  grid-area: prevArrow;
}

.part__arrow.next {
  grid-area: nextArrow;
}

.textures__options {
  display: flex;
  gap: 2.5rem;
}

.texture__option {
  width: 8.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem 1rem;
  border-radius: 5rem;
  border: .15rem solid #e8e8e8;
  background-color: white;
  cursor: pointer;
}

.texture__name {
  font-size: .85rem;
  font-weight: 700;
  letter-spacing: .03rem;
  text-transform: uppercase;
}

.colors__options {
  display: flex;
  gap: 2.5rem;
}

.color__option {
  width: 3.5rem;
  display: flex;
  gap: .35rem;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.color__wrapper {
  width: 2.85rem;
  height: 2.85rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  border: .15rem solid #e8e8e8;
}

.color__fill {
  width: 82.5%;
  height: 82.5%;
  border-radius: 50%;
}

.color__name {
  font-size: .85rem;
  letter-spacing: .05rem;
  text-transform: uppercase;
}


